.devices table {
    width: 100%;
    border-collapse: collapse;
}

.devices th {
    text-align: left;
    padding: 14px;

    background: var(--secondary);
    color: white;
}

.devices td {
    padding: 14px;
}

.devices th,
.devices td {
    border-bottom: 1px solid #ddd;
}

.devices tbody tr:hover {
    background: #f5f7fb;
}

.status::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 50%;
}

.status.online::before {
    background: #22c55e;
}

.status.offline::before {
    background: #ef4444;
}

.status.warning::before {
    background: #f59e0b;
}
/* 
.status {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.status.online {
    background: #dcfce7;
    color: #166534;
}

.status.offline {
    background: #fee2e2;
    color: #991b1b;
}

.status.warning {
    background: #fef3c7;
    color: #92400e;
} */