aside {
    width: 240px;
    background: #f4f4f4;
    border-right: 1px solid #ddd;
}

aside ul {
    list-style: none;
}

aside li {
    padding: 15px 20px;
    cursor: pointer;
    transition: background 0.2s;
}

aside li:hover {
    background: #e6e6e6;
}

aside a {
    display: block;
    padding: 15px 20px;

    text-decoration: none;
    color: #333;

    transition: 0.2s;
}

aside a:hover {
    background: #e6e6e6;
}

aside a.active {
    background: #2563eb;
    color: white;
    font-weight: bold;
}
aside a {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 15px 20px;

    color: #333;
    text-decoration: none;

    transition: 0.2s;
}