:root {
    /* Colors */
    --primary: #2563eb;
    --secondary: #1e293b;

    --success: #22c55e;
    --warning: #f59e0b;
    --danger: #ef4444;

    --background: #f5f7fb;
    --surface: #ffffff;

    --text: #111827;
    --text-light: #6b7280;

    /* Radius */
    --radius: 12px;

    /* Shadow */
    --shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

    /* Spacing */
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
}